.page-main {
	width: 100%;
	background: #e8ebed;
}

@media screen and (max-height: 32em) {
	.page-main {
		position: static;
		width: 100%;
		overflow: auto;
	}
}

@media screen and (max-width: 64.063em) {
	.page-main {
		position: static;
		width: 100%;
		height: auto;
		overflow: auto;
	}
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
	background: #10293b;
}

body::-webkit-scrollbar-thumb {
	background-color: #43637B;
	border-radius: 5px;
	border: 1px solid #10293b;
}

/* Body */
body,
input,
select,
textarea,
button {
	font-family: 'National', sans-serif;
}

body {
	background: #e8ebed;
	overflow-x: hidden;
}

a {
	color: blue;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: blue;
		text-decoration: none;
	}
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/* SVG */
svg {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	fill: currentColor;
	@include size(16,16);
	vertical-align: -8%;
}

/* Message */
.message {
	text-align: center;
	background: #CDDCEC;
	border: 1px solid #90ACCA;
	border-radius: 5px;
	@include font-size(20);
	@include padding(20);
}

/* Box Sizing */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* Text Highlight */
::selection {
	color: #FFFFFF;
	background: #10293b;
}

/* Global Styles */
.clear {
	clear: both;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

img.floatleft,
.img.floatright {
	position: relative;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

/* Google Map */
.embed-container,
.media {
    @include margin-all(16,0,16,0);
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.media iframe,
.media object,
.media embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media all and (min-width: 64.063em) {

	.desktop-clear {
		clear: both;
	}

}

@media all and (max-width: 64.063em) {

	/* Tablet Clear */
	.tablet-clear {
		clear: both;
	}

}

@media all and (max-width: 40.063em) {
	/* Mobile Clear */
	.mobile-clear {
		clear: both;
	}
}
