header {
    height: 50px;
    background: rgba(#0493D8,0.92);
    line-height: 50px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

header .logo {
    font-size: 28px;
    display: block;
    float: left;
    color: #FFFFFF;
    padding: 0 1em;
    font-weight: normal;
    line-height: 30px;
    height: 50px;
    font-family: 'Lyon Display';
    padding: 13px 10px 7px 44px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
    position: relative;
}

header .logo svg {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 12px;
  width: 24px;
  height: 24px;
  display: block;
}

header .logo span {
  color: #10293b;
}

header .open-menu {
    cursor: pointer;
    float: right;
    height: 50px;
    width: 50px;
    position: relative;
    background: rgba(255,255,255,0.1);
    line-height: 50px;
    border: none;
    padding: 16px;
}

header .open-menu span {
    height: 2px;
    width: 18px;
    display: block;
    background-color: #FFFFFF;
    margin: 0 0 6px 0;
}

header .open-menu:focus {
    outline: none;
    background: #e8ebed;
}

header .open-menu:focus span {
    background-color: #0493D8;
}
