.home-menu {
    @supports (display: flex) {
        display: flex;
        flex-direction: column;
        height: 800px;
        height: calc(100vh - 50px);
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.home-menu a {
    display: block;
    color: #FFFFFF;
    position: relative;
    background-color: #10293b;
    overflow: hidden;

    background-size: cover;
    background-position: center;

    @supports (display: flex) {
        flex-grow: 1;
        flex-basis: 25%;
    }
}
//
// .home-menu a.house .overlay {
//     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
// }
//
// .home-menu a.senate .overlay {
//     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
// }
//
// .home-menu a.electorates .overlay {
//     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
// }
//
// .home-menu a.states .overlay {
//     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
// }

/* Image Hovery Thing */
.home-menu a:hover {

}

.home-menu a .overlay {
    background: rgba(darken(#0493D8,25%), 0.8);
    border-bottom: 1px solid #FFFFFF;
}

.home-menu a .overlay {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: normal;
    @include font-size(18);
    @include line-height(24);
}
