* {
  box-sizing: border-box;
}

.politicians {
}

/* Banner */
.banner {
    background-color: #10293b;
    background-image: url('../../img/content/parliamenthouse.jpg');
    background-position: center;
    background-size: cover;
}

.banner .overlay {
    padding: 90px 1.5% 10px 1.5%;
    background-color: rgba(11, 60, 82, 0.75);
    /*
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
    }
    */
}

.banner .title {
  position: relative;
  float: left;
  width: 98%;
  margin: 0 1% 30px 1%;
  color: #FFFFFF;
  @include font-size(32);
  text-align: center;
}

.banner .filter-and-search {
    position: relative;
    float: left;
    width: 100%;
    /*
    @supports (display: flex) {
      float: none;
      display: flex;
      flex-wrap: wrap;
    }
    */
}

.banner .field.search-field {
    position: relative;
    float: left;
    width: 31.333%;
    margin: 0 1% 30px 1%;
    /*
    @supports (display: flex) {
      float: none;
    }
    */
}

.banner .field.search-field:before {
    content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzA0OTNEODt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTkuNiwxNy41TDE2LjEsMTRjMS0xLjUsMS42LTMuMiwxLjYtNS4xYzAtNC45LTQtOC45LTguOS04LjlTMCw0LDAsOC45czQsOC45LDguOSw4LjljMS45LDAsMy43LTAuNiw1LjItMS43bDMuNSwzLjVjMC4zLDAuMywwLjcsMC40LDEsMC40YzAuNCwwLDAuNy0wLjEsMS0wLjRDMjAuMSwxOSwyMC4xLDE4LjEsMTkuNiwxNy41eiBNOC45LDE0LjhjLTMuMywwLTUuOS0yLjctNS45LTUuOXMyLjctNS45LDUuOS01LjlzNS45LDIuNyw1LjksNS45YzAsMS4xLTAuMywyLjEtMC44LDNjLTAuNSwwLjgtMS4yLDEuNi0yLjEsMi4xQzExLDE0LjUsMTAsMTQuOCw4LjksMTQuOHoiLz48L3N2Zz4=);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 20px;
    margin-top: -10px;
}

.banner input.search {
    border: none;
    background: #FFFFFF;
    color: #304A5D;
    box-shadow: none;
    @include font-size(18);
    @include line-height(20);
    @include padding-all(12,16,12,56);
    border-radius: 24px;
    width: 100%;
    border: 2px solid #FFFFFF;

    &::-webkit-input-placeholder {
        color: #304A5D;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: #304A5D;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: #304A5D;
    }

    &:-ms-input-placeholder {
        color: #304A5D;
    }
}

.banner input.search:focus {
    outline: none;

    &:focus {
        border-color: #7ECDF3;
        box-shadow: 0px 0px 5px rgba(#0493D8,0.5);
    }
}

/* Sort By */
.sort-by {
    float: left;
    width: 31.333%;
    margin: 0 1% 30px 1%;
    /*
    @supports (display: flex) {
      float: none;
    }
    */
}

.sort-by select {
    width: 100%;
    border: none;
    @include padding-all(10,16,14,16);
    border-radius: 24px;
    background: #FFFFFF;
    color: #10293b;
    @include font-size(18);
    @include line-height(20);
    height: 48px;
    border: 2px solid #FFFFFF;

    background: #edf0f2;
    background: -moz-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf0f2), color-stop(50%, #eaedef), color-stop(51%, #e1e5e8), color-stop(100%, #dadee1));
    background: -webkit-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
    background: -o-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
    background: -ms-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
    background: linear-gradient(to bottom, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);

    &:hover {
        background: #f1f3f5;
    }

    &:focus {
        outline: none;
        border-color: #7ECDF3;
        box-shadow: 0px 0px 5px rgba(#0493D8,0.5);
    }
}

/* */
.container {
    font-size: 0px;
}

.mix {
    text-align: center;
    width: 25%;
    background-color: #FFFFFF;
    font-size: 16px;
    float: left;
}


.houseofreps {
  color: red;
}

.senate {
  color: orange;
}

/* Politicians Listed */
.listed-politicians {
    padding: 1%;
    /*
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    */
}

.listed-politicians li {
    width: 10.5%;
    margin: 1%;
    cursor: pointer;
    float: left;
    /*
    @supports (display: flex) {
      float: none;
    }
    */
    @media screen and (max-width: 100em) {
      width: 12.2867%;
    }

    @media screen and (max-width: 86em) {
      width: 14.6666%;
    }

    @media screen and (max-width: 64.063em) {
      width: 18%;
    }

    @media screen and (max-width: 42em) {
      width: 23%;
    }

    @media screen and (max-width: 34em) {
      width: 31.3333%;
    }

    @media screen and (max-width: 20em) {
      width: 48%;
    }

    @media screen and (max-width: 16em) {
      width: 98%;
    }
}

.listed-politicians li.noresults {
    width: 98%;
}

.listed-politicians li:hover .pol-image {
  opacity: 0.75;
}

.listed-politicians li:hover .description {
  color: #0493D8;
}

.listed-politicians .pol-image {
  background-position: center;
  background-size: cover;
  padding-top: 120%;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.listed-politicians .pol-image .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.listed-politicians .lib .description {
    border-top: 2px solid $lib-colour;
}

.listed-politicians .lab .description {
    border-top: 2px solid $lab-colour;
}

.listed-politicians .greens .description {
    border-top: 2px solid $greens-colour;
}

.listed-politicians .libdem .description {
    border-top: 2px solid $libdem-colour;
}

.listed-politicians .indep .description {
    border-top: 2px solid $indep-colour;
}

.listed-politicians .palmer .description {
    border-top: 2px solid $palmer-colour;
}

.listed-politicians .nats .description {
    border-top: 2px solid $nats-colour;
}

.listed-politicians .country .description {
    border-top: 2px solid $country-colour;
}

.listed-politicians .familyfirst .description {
    border-top: 2px solid $familyfirst-colour;
}

.listed-politicians .cwm .description {
    border-top: 2px solid $cwm-colour;
}

.listed-politicians .motoring .description {
    border-top: 2px solid $motoring-colour;
}

.listed-politicians .libnat .description {
    border-top: 2px solid $libnat-colour;
}

.listed-politicians .other .description {
    border-top: 2px solid $other-colour;
}

.listed-politicians .description {
  border-top: 2px solid #DE4545;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
}

.listed-politicians .description .party {
  margin: 2px 0px 0px 0px;
  font-size: 10px;
  color: #555555;
}

.listed-politicians .description .name {
  font-family: 'Lyon Display';
}

.listed-politicians .description .party,
.listed-politicians .description .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1140px) {
  .banner .field.search-field {
      width: 98%;
  }
  .sort-by {
      width: 48%;
  }
}

@media screen and (max-width: 800px) {
  .banner .title {
    @include font-size(28);
    @include line-height(32);
  }
  .banner .filter-and-search {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(11, 60, 82, 0.92);
    z-index: 3;
    padding: 1%;
  }
  .banner .field.search-field,
  .sort-by {
    margin: 1%;
  }
  .banner .overlay {
    padding: 80px 1.5% 0px 1.5%;
  }
}
@media screen and (max-width: 600px) {
    .banner .overlay {
        padding-top: 70px;
    }
    .banner .title {
        @include font-size(20);
        @include line-height(26);
        margin-bottom: 20px;
    }
    .banner .field.search-field:before {
        left: 16px;
    }
    .banner input.search {
        @include font-size(16);
        @include line-height(16);
        @include padding-all(10,14,10,46);
    }
    .sort-by select {
        @include font-size(16);
        @include line-height(16);
        @include padding-all(8,14,12,14);
        height: 40px;
    }
}
