/* Close Button */
.close {
    z-index: 2;
}

.popup-holder {
    padding: 110px 25px;
    margin: 40px 20px 40px 20px;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;

    & > * { pointer-events: all; }
}

/* Loading */
.loading-popup {
    background: #eaebec;
    padding: 80px 0;
    border-radius: 5px;
    margin: 0 auto;
    pointer-events: all;

    .loading {
        margin: 0 auto;
        width: 206px;
        height: 200px;
        position: relative;
    }

  p {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    text-align: center;
    z-index: 99;
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    overflow: hidden;
    animation: dots 2s steps(2) linear infinite;
    color: gray;
  }

  .spin {
    height: 100%;
    margin: 10% auto;
    border-right: 5px solid #0493D8;
    border-bottom: 5px solid transparent;
    border-radius: 100%;
    animation: spin 0.9s linear infinite;
    opacity: 0.25;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-right-color: #0493D8;
  }
  50% {
    transform: rotate(180deg);
    border-right-color: #10293b;
  }
  100% {
    transform: rotate(360deg);
    border-right-color: #0493D8;
  }
}

/* Popup */
.politician-popup {
    position: relative;
    margin: 0 auto;
    pointer-events: all;
}

.pol-info {
    position: relative;
    padding-left: 288px;
    height: 384px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .pol-info {
      padding-left: 240px;
      height: 340px;
  }
}

.politician-popup .pol-title {
   @include padding-all(20,20,20,20);
   background-color: #FFFFFF;
   border-radius: 5px 5px 0px 0px;
}

.politician-popup .name {
  font-family: 'Lyon Display';
   @include font-size(26);
   @include line-height(28);
   font-weight: bold;
   color: #10293b;
}
.politician-popup .electorate {
   @include font-size(16);
   @include line-height(20);
   color: #597C95;
   text-transform: uppercase;
   float: left;
}
.politician-popup .party {
  float: right;
  @include padding-all(0,10,0,10);
  background-color: #DEDEDE;
  color: #FFFFFF;
  @include font-size(14);
  @include line-height(28);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  border-radius: 5px;

   &.lib {
      background-color: $lib-colour;
   }
   &.lab {
      background-color: $lab-colour;
   }
   &.greens {
      background-color: $greens-colour;
   }
   &.libdem {
      background-color: $libdem-colour;
   }
   &.indep {
      background-color: $indep-colour;
   }
   &.palmer {
       background-color: $palmer-colour;
   }
   &.nats {
       background-color: $nats-colour;
   }
   &.country {
       background-color: $country-colour;
   }
   &.familyfirst {
       background-color: $familyfirst-colour;
   }
   &.cwm {
       background-color: $cwm-colour;
   }
   &.motoring {
       background-color: $motoring-colour;
   }
   &.libnat {
       background-color: $libnat-colour;
   }
   &.other {
       background-color: $other-colour;
   }
}

.politician-popup .pop-image {
    width: 288px;
    height: 384px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1400px) {
    .politician-popup .pop-image {
        width: 240px;
        height: 340px;
    }
}

.politician-popup .pop-image .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @include padding(20);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

  .positions {
    color: #FFFFFF;
    @include font-size(16);
    @include line-height(20);
  }
}

/* Details */
.pop-content {
}

.pop-content .map-area {

}

.vote-history {
  height: 384px;
  overflow-y: scroll;
  background: #e8ebed;
}

@media screen and (max-width: 1400px) {
    .vote-history {
        height: 294px;
    }
}

.vote-history::-webkit-scrollbar {
    width: 10px;
}

.vote-history::-webkit-scrollbar-track {
	background: #C4CACE;
}

.vote-history::-webkit-scrollbar-thumb {
	background-color: #386585;
	border: none;
  border-radius: 5px;
}

.vote-history .put {
    @include margin(10);
}

.vote-history .issue {
    display: block;
    color: #000000;
    @include font-size(16);
    @include line-height(16);
    @include padding-all(10,10,10,46);
    position: relative;
    @include margin(10);
    border-radius: 5px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 36px;
      background: #40C963;
      border-radius: 5px 0 0 5px;
    }

    svg {
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 10px;
      width: 16px;
      height: 16px;
      fill: #FFFFFF;
    }

    &:not(:nth-child(1)) {
    }

    &.strongfor {
      background-color: #8EE69B;

      &:before,
      .ppc-percents {
        background-color: #40C963;
      }
    }
    &.for {
      background-color: #BEE18B;

      &:before,
      .ppc-percents {
        background-color: #91C940;
      }
    }
    &.neutral {
      background-color: #E3D68A;

      &:before,
      .ppc-percents {
        background-color: #D7BF31;
      }
    }
    &.against {
      background-color: #E6C2A6;

      &:before,
      .ppc-percents {
        background-color: #E39252;
      }
    }
    &.strongagainst {
      background-color: #EEA5A5;

      &:before,
      .ppc-percents {
        background-color: #DF4949;
      }
    }
}

.vote-history .issue-title {
}

.vote-history .title {
    color: #10293b;
    @include font-size(18);
    @include line-height(22);
    margin: 10px;
    padding: 8px 10px 0 10px;
    border: 1px solid #A4B2BC;
    border-bottom: none;
    display: inline-block;
}

.vote-history .search {
    margin: 10px;
}

.vote-history .search input[type="search"] {
    color: #10293b;
    @include font-size(18);
    @include line-height(22);
    padding: 8px 10px 8px 10px;
    border: 1px solid #A4B2BC;
    width: 100%;
    border-radius: 5px;
}

/* Map */
.popup-map {
    height: 294px;
    position: relative;
    background: #e8ebed;

    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background-position: center;
        background-size: cover;
    }

    .photo:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(232,235,237,1) 0%,rgba(232,235,237,0.5) 100%);
    }

  .house {
    /*
    background-color: rgba(11, 60, 82, 0.85);
    */
    position: absolute;
    top: 0;
    right: 0;
    width: 294px;
    height: 100%;
  }

  svg {
    display: block;
    width: 288px;
    height: 224px;
    margin: 60px auto 20px auto;
  }

  .house-title {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #10293b;
    @include font-size(14);
    @include line-height(20);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      display: block;
      font-family: 'Lyon Display';
      @include font-size(16);
      @include line-height(20);
    }
  }
}


@media screen and (max-width: 920px) {
    .pol-info {
        padding: 340px 0 0 0;
        height: auto;
    }
    .pop-image-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 340px;
        background-color: #FFFFFF;
    }
    .pop-image-holder .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.75);
    }
    .pop-image-holder .pop-image-bg {
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
    }
    .politician-popup .pop-image {
        position: relative;
        z-index: 2;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .pop-image-holder {
        overflow: hidden;
        position: relative;
        width: 100%;
    }
  .politician-popup .pol-title {
    text-align: center;
  }
  .politician-popup .name {
    float: none;
  }
  .vote-history {
      height: auto;
      overflow: auto;
  }
  .politician-popup .party {
    @include font-size(12);
    @include line-height(20);
    @include padding-all(0,8,0,8);
    float: none;
    display: inline-block;
    margin: 0 0 8px 0;
  }
  .pol-info {
    padding: 0;
    height: auto;
  }
  .politician-popup .pop-image {
    position: relative;
  }
  .politician-popup .electorate {
    float: none;
  }
}


/* React Tabs */
.ReactTabs__TabList[role=tablist] {
    padding: 10px 5px 0 5px;
    background: #abb6bd;
    border: none;
    margin: 0;
}

.react-tabs [role=tab] {
    padding: 10px 12px;
    border-radius: 0;
    border: none;
    margin: 0 5px;
    background: #7b8994;
    color: #FFFFFF;
    bottom: 0;
    border-radius: 5px 5px 0 0;
}

.react-tabs [role=tab]:hover,
.react-tabs [role=tab]:focus {
    background: #0493D8;
    color: #FFFFFF;
}

.react-tabs [role=tab][aria-selected=true] {
    border-radius: 0;
    background: #e8ebed;
    color: #10293b;
    border-radius: 5px 5px 0 0;
}
